---
name: Build CCS project

on:
  workflow_dispatch:
  
jobs:
  test_ccs_build:
    runs-on: ubuntu-latest
    name: Test CCS Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: src
      - name: CCS build action step
        uses: grahame-student/ccs_build@v0.0.15-c
        with:
          project-path: workdir
          project-name: msp430_test_project
          build-configuration: Debug
