---
name: Build CCS project

on:
  push:
    branches-ignore:
      - 'dependabot/**'
  pull_request:
  
jobs:
  test_ccs_build:
    runs-on: ubuntu-latest
    name: Test CCS Build
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: CCS build action step
        uses: grahame-student/ccs_build@v0.0.20
        with:
          build-configuration: Debug

      - name: Run unit tests
        uses: grahame-student/gtest_action@v0.0.3-alpha
        with:
          test-path: 'src/tests'
